.row
	.twelve.columns.section
		img(src= aws +  "/pic_square.jpg").img-circle.img-responsive
		h1
			span.color-bg #{ header_about }
.row
	.six.columns
		h3
			span.color-bg #{ title_about }
		p.
			#{ p_about }
		h3
			span.color-bg #{ title_hobbies }
		p.
			#{ p_hobbies }
	.six.columns
		h3
			span.color-bg #{ title_contact }
		p #{ p_email }
		p #{ p_location }