.imageheader.imgcode
.twelve.columns
	h3
		span.color-bg #{ title_programming }
	p #{ p_programming }

	h3
		span.color-bg #{ title_teosto }
	p #{ p_teosto }

	a(href="#{ a_teosto }" target="_blank") #{ a_demo_text }

	a(href="#{ github_teosto_link }" target="_blank").m-b #{ github_teosto }

	h3
		span.color-bg #{ title_poem }
	p #{ p_poem }

	a(href="#{ a_poem }" target="_blank") #{ a_demo_text }

	a(href="#{ poem_presentation_link }" target="_blank").m-b #{ poem_presentation_text }